{% extends "layout.html" %}
{% block body %}
  <h1>Submission History</h1>

  {% if is_admin %}
  <form name="history" action="/history" method="POST">
    <input id="userquery" name="userquery" placeholder="Search by username" type="text" required/>
    <br>
    <button type="submit">Search</button>
  </form>

  {% endif %}

  {% if submissions|length > 0 %}
    <p>There are <span id="numqueries">{{ submissions|length }}</span> submissions</p>
    <table>
      <tr>
        <th>ID</th>
        <th>Input</th>
      </tr>
      {% for s in submissions %}
      <tr>
        <td>
          <a href="{{ url_for('history.submission', id = s.id) }}">
            <span id="query#">{{ s.id }}</span>
          </a>
        </td>
        <td>{{ s.text|truncate(30) }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>You have not made any submissions</p>
  {% endif %}
{% endblock %}
