{% extends "layout.html" %}
{% block body %}
<h1>Home</h1>
{% if 'username' in session %}

  You are logged in as {{ session['username'] }}
  <br>

  <a href="{{ url_for('auth.logout') }}">Log Out</a>
  
  <br>
  
  <form name="checkwords" action="/checkWords" method="POST">
    <textarea id="inputtext" name="inputtext"
  	    placeholder="Insert text to check spelling on"></textarea>
    <br>
    <button type="submit">Check Spelling</button>
  </form>

  {% if textout %}
    <h2>User Input</h2>
    <p id="textout">{{ textout }}</p>
  {% endif %}

  {% if misspelled %}
    <h2>Misspelled Words</h2>
    <p id="misspelled">{{ misspelled }}</p>
  {% endif %}

{% else %}

<a href="{{ url_for('auth.register') }}">Register</a>
<br>
<a href="{{ url_for('auth.login') }}">Log In</a>
<br>

{% endif %}
{% endblock %}
